*{
    outline: none !important;
}
section.big-banner{
    padding: 10rem 5rem;
    font-weight: bolder;
}
.btn.btn-warning{
    border-radius: 50px ;
    padding: .5rem 3rem;
}
.btn.btn-warning:hover{
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
}

h3.display-4{
    font-size: 3rem;
}
.navbar-light .navbar-toggler {
    outline: none;
    border-color: transparent;
}
h3.display-4.big-text{
    font-size: 2rem !important;
    font-weight: bold;
}
a, a.btn-link{
    font-weight: bold;
    color: #ffc107;
    text-decoration: none !important;
    transition: all ease-in 0.3s;
}
a:hover, a.btn-link:hover{
    color: black;
}

@media screen and (max-width: 768px){
    section.big-banner{
        padding: 10rem 1rem;
    }
    h3.display-4{
        font-size: 1.7rem;
    }
}